[Unit]
Description=TTY resizer for SimpleCom
Documentation=https://github.com/YaSuenag/SimpleCom/blob/master/tty-resizer/README.md
Requires=getty@ttyGS0.service
After=getty@ttyGS0.service

[Service]
ExecStart=/usr/local/sbin/tty-resizer /dev/ttyGS0
Restart=always

[Install]
WantedBy=getty.target
