name: Unit test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions: read-all

jobs:
  unittest:
    runs-on: windows-2022

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.2.2

    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v2

    - name: Build unit test
      run: msbuild SimpleComTest\SimpleComTest.vcxproj -property:"Configuration=Debug" -property:"Platform=x64"

    - name: Generate vcvars path
      run: |
        $installPath = & vswhere.exe '-property' installationPath
        $vcvarsPath = $installPath + '\VC\Auxiliary\Build\vcvars64.bat'
        "VCVARS_PATH=$vcvarsPath" | Out-File -FilePath $env:GITHUB_ENV -Append
      shell: pwsh

    - name: Run unit test
      run: |
        call "${{ env.VCVARS_PATH }}"
        vstest.console.exe /Platform:x64 SimpleComTest\x64\Debug\SimpleComTest.dll
      shell: cmd
