name: Unit test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions: read-all

jobs:
  unittest:
    runs-on: windows-2022

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.1

    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v2

    - name: Setup VSTest Path
      uses: darenm/Setup-VSTest@v1.2

    - name: Build unit test
      run: msbuild SimpleComTest\SimpleComTest.vcxproj -property:"Configuration=Debug" -property:"Platform=x64"

    - name: Run unit test
      run: vstest.console.exe /Platform:x64 SimpleComTest\x64\Debug\SimpleComTest.dll
