name: Unit test

on:
  push:
    branches: [ dev/unittest ]
  pull_request:
    branches: [ master ]

jobs:
  unittest:
    runs-on: windows-2022

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v1.3

    - name: Build unit test
      run: msbuild SimpleComTest\SimpleComTest.vcxproj -property:"Configuration=Debug;Platform=x64"

    - name: Run unit test
      run: vstest.console.exe /Platform:x64 SimpleComTest\x64\Debug\SimpleComTest.dll
